
	<!--top- category area start-->
	<section class="top_category_product mb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-3">
					<div class="top_category_header">
						<h3>محبوب ترین دسته های این هفته</h3>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
						<a href="shop.html">نمایش همه دسته ها</a>
					</div>
				</div>
				<div class="col-lg-10 col-md-9">
					<div class="top_category_container category_column5 owl-carousel">
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category1.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">بازی و کنسول </a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category2.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">لوازم خانگی</a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category3.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">صوتی و تصویری</a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category4.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">بازی و کنسول </a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category5.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">لپ تاپ و تبلت </a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
						<div class="col-lg-2">
							<article class="single_category">
								<figure>
									<div class="category_thumb">
										<a href="shop.html"><img src="assets/img/s-product/category2.jpg" alt=""></a>
									</div>
									<figcaption class="category_name">
										<h3><a href="shop.html">لوازم خانگی</a></h3>
									</figcaption>
								</figure>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>