	<section class="featured_product_area mb-70">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>محصولات ویژه</h2>
					</div>
				</div>
			</div>
			<div class="row featured_container featured_column3">
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product13.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product14.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">ساعت هوشمند سامسونگ Gear</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product15.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product16.jpg" alt=""></a>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">هدفون بلوتوثی حرفه ای گیمینگ Sony</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product17.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product18.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">ساعت هوشمند شیائومی Mi band 4</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product19.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product20.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">اسپیکر بلوتوثی قابل حمل Anker</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product21.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product22.jpg" alt=""></a>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">مانیتور گیمینگ 27 اینچ asus مدل MG27UQ</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product23.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product24.jpg" alt=""></a>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">گوشی آیفون iPhone XS Max Plus</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product15.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product16.jpg" alt=""></a>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product17.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product18.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">اسپیکر بلوتوثی قابل حمل Anker</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product13.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product14.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">ساعت هوشمند سامسونگ Gear</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product15.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product16.jpg" alt=""></a>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">هدفون بلوتوثی حرفه ای گیمینگ Sony</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product17.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product18.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">ساعت هوشمند شیائومی Mi band 4</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
				<div class="col-lg-4">
					<article class="single_product">
						<figure>
							<div class="product_thumb">
								<a class="primary_img" href="product-details.html"><img src="assets/img/product/product19.jpg" alt=""></a>
								<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product20.jpg" alt=""></a>
								<div class="label_product">
									<span class="label_sale">فروش</span>
								</div>
							</div>
							<figcaption class="product_content">
								<div class="price_box">
									<span class="old_price">86,000 تومان</span>
									<span class="current_price">79,000 تومان</span>
								</div>
								<h3 class="product_name"><a href="product-details.html">اسپیکر بلوتوثی قابل حمل Anker</a></h3>
								<div class="add_to_cart">
									<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
			</div>
		</div>
	</section>