@model List<Sabzishop.Models.Products.Products>
	<section class="featured_product_area mb-70">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>محصولات ویژه</h2>
					</div>
				</div>
			</div>
			<div class="row featured_container featured_column3">
@foreach (var item in Model)
{
    <div class="col-lg-4">
        <article class="single_product">
            <figure>
                <div class="product_thumb">
                    <a class="primary_img" href="product-details.html"><img src="~/assets/img/product/@($"product{item.id}.jpg")" alt=""></a>
                    <a class="secondary_img" href="product-details.html"><img src="~/assets/img/product/@($"product{item.id}.jpg")" alt=""></a>
                    <div class="label_product">
                        <span class="label_sale">فروش</span>
                    </div>
                </div>
                <figcaption class="product_content">
                    <div class="price_box">
                        <span class="old_price">@item.price تومان</span>
                        <span class="current_price">@item.price تومان</span>
                    </div>
                    <h3 class="product_name"><a  asp-action="Details" asp-route-id="@item.id">@item.name</a></h3>
                    <div class="add_to_cart">
                        <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                    </div>
                </figcaption>
            </figure>
        </article>
    </div>
}

			</div>
		</div>
	</section>