@model  List<Sabzishop.Models.Slider.Slider> 
<section class="slider_section mb-70">
    <div class="slider_area owl-carousel">

        @foreach(var item in Model)
        {
            <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/@($"slider{item.id}.jpg")">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="slider_content">
                                <h1>@item.title</h1>
                                <h2>@item.undertitle</h2>
                                <p>@item.discription</p>
                                <a class="button" href="shop.html">اکنون بخرید</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
</section>
@section Scripts
{
    <script src="~/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
}
